body{
  background-image: url(../images/backgradient.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 0;
  margin: 0;
  height: auto;
  }

.container { 
    width: 100%;
    padding-bottom:50px; 
    overflow:hidden;
    }


/*Sign Up and Sign In forms*/
form {
    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    width: 400px;
    height: auto;
    color: #808080;
    padding: 20px;
    margin-top: 70px;
    font-size: auto;
    opacity: 0.9;
    }

.mb-3 input{
    padding-left:35px;
    }

.form-control{
    border: none !important;
    border-bottom: 1px solid #dc0714 !important;
    padding-left:40px ;
    margin: 8px 0;
    display: inline-block;
    width: 100%; 
     }
   
/* input icons */
.icon{
    position: absolute;
    padding: 5px 5px ;
    margin: 8px;     
     }
   
   .button{
       background-color: #dc0714;
       border: none;
       border-radius: 40px;
       width: 200px;
       height: 40px;
       color: white;
       margin-top: 30px;
       }

   .link-signin{
    text-decoration: none;
    text-align: center;
    color: #dc0714;
    font-size: 20px;
    }

  

   /* Index */
   .addnew{
    display: inline-block;
    width: auto;
    height: auto;
    color: #808080;
    font-size: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 50% 150px !important;
    border-bottom-right-radius: 50% 150px !important;
    overflow: hidden;
    }

   .shadow{
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.9);
    }

  /*plus icon */
  .fa-plus-square{
    display: inline-block;
    margin-right: 10px;
    }

   /* addnewbutton */
    .button2{
        background-color: #ff9ba0;
        border: none;
        border-radius: 10px;
        width: 120px;
        height: 30px;
        color: white;
        margin-top: 10px;
        }

   /* user icon in the homepage*/
  .fa-user-circle{
      float: right;
      padding: 10px;
      }

/*muhimbili logo image*/
img{
    width: 90px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;   
    }
.no-of-tasks{
    color: #dc0714;
    }
/* table headings */
.on-hold{
    margin-top: 20px;
    margin-left: 30px;
    font-weight: bold;
    color: #ff9ba0;
    }

h2{
    margin-top: 10px;
    font-weight: bolder;
   }

/*muhimbili logo image*/
.logo-on-tasks{
    width: 70px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    float: right;
    }
    
/*tables*/
.table-responsive{
    margin-left: 30px;
    }

.completed{
    opacity: 0.3;
    }

/*notifications panel*/
.notifications{
    margin-left: 50px;
    margin-top: 20px;
    color: #000;
    }

.label-blue{
    color: #808080;
    padding: 8px;
    background-color: #dae4f4;
    margin-left: 50px;
    border-radius: 10px;
    width: 250px;
    height: auto; 
    display: flex;
    align-items: center;
    margin-top: 10px;
    }

.label-yellow{
    color: #f2994a;
    background-color: #fcebdb;
    border-radius: 40px;
    width: 100px;
    height: 25px; 
    align-items: center;
    display: inline-block ;
    text-align: center;
    }

.label-green{
    color: #27ae60;
    background-color: #c9fddd;
    border-radius: 40px;
    width: 100px;
    height: 25px; 
    align-items: center;
    display: inline-block ;
    text-align: center;
    }

    .label-red{
        color: #dc0714;
        background-color:  #ff9ba0;
        border-radius: 40px;
        width: 100px;
        height: 25px; 
        align-items: center;
        display: inline-block ;
        text-align: center;
        }

